/* Animations */

@keyframes popup_show {

    0% {
        visibility: visible;
    }

    5% {
        transform: translateY(-20px) scale(0.95);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }

}

@keyframes popup_hide {

    0% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }

    95% {
        transform: translateY(-20px) scale(0.95);
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }

}

@keyframes modal_show {

    0% {
        visibility: visible;
    }

    5% {
        transform: translate(-50%, 0) scale(0.95);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }

}

@keyframes modal_hide {

    0% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }

    95% {
        transform: translate(-50%, 0) scale(0.95);
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }

}
